
@{
    ViewBag.Title = "Index";
}

<h2>Support</h2>

<p>Please write us an email for any kind of feedback, we will get back to you as soon as possible.</p>
<a href="mailto:wwwpicaround@gmail.com?Subject=Web-Site-Support">PicAround Support</a>