<div>
    <div class="page-header">
	    <h2>Events:</h2>
    </div>
  <!-- Headings & Paragraph Copy -->
  <div class="row">
    
    <div class="span4">
      <div class="well">
        <h4>Most Popular:</h4>
        <ul>
        <li>Madoona in <a href="#">Park Hayarkon Tel-Aviv</a></li>
        <li>The Mars Volta in <a href="#">Hangar Tel-Aviv</a></li>
        <li>Facebook Event <a href="#">LA California</a></li>
        <li>Madoona in <a href="#">Park Hayarkon Tel-Aviv</a></li>
        <li>The Mars Volta in <a href="#">Hangar Tel-Aviv</a></li>
        <li>Facebook Event <a href="#">LA California</a></li>
        </ul>
      </div>
    </div>
	  
 <div class="span4">
      <div class="well">
        <h4>Current in your location:</h4>
        <ul>
        <li>Madoona in <a href="#">Park Hayarkon Tel-Aviv</a></li>
        <li>The Mars Volta in  <a href="#">Hangar Tel-Aviv</a></li>
        <li>Madoona in  <a href="#">Park Hayarkon Tel-Aviv</a></li>
        <li>The Mars Volta in  <a href="#">Hangar Tel-Aviv</a></li>
        </ul>
      </div>
    </div>
	
    <div class="span4">
    <div class="well">
      <h3>Contact:</h3>
      <address>
        <strong>KLIKSharing</strong><br>
        Haifa, ISRAEL<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">kliksharing@gmail.com</a>
      </address>
    </div>
    </div>
  </div>

</div>